# -------------------------
# Node
# -------------------------
node_modules/
npm-debug.log*
yarn-error.log*

# -------------------------
# Angular / Build
# -------------------------
dist/
out-tsc/
.angular/
coverage/
tmp/

# -------------------------
# IDE
# -------------------------
.idea/
.vscode/
.history/

# -------------------------
# System
# -------------------------
.DS_Store
Thumbs.db
